<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/h4wm.css">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <!--<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>-->

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h3>{{ site.description | default: site.github.project_tagline }}</h3>

        <p>Do you know an organization working on issues that affect our community that could use help from local technology professionals? We can help you.</p>
        <p><a class="button" href="https://andrew629.typeform.com/to/qw4KPm">Propose a Project</a></p>

        <h3>Interested in participating?</h3>
        <p>Look for the next meeting <a href="https://www.meetup.com/wmasswebdev/">on MeetUp</a>. In the meantime, tell us a little <a href="http://bit.ly/h4wm-register">about yourself.</a></p>


        {% if site.github.is_project_page %}
        <!--<p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>-->
        {% endif %}

        {% if site.github.is_user_page %}
        <!--<p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>-->
        {% endif %}


    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        <h2>Find Us</h2>
        <a href="https://github.com/hackforwesternmass"><img src="/assets/img/GitHub-Mark-32px.png" alt="GitHub"/></a>
        <a href="https://twitter.com/hackforwestma"><img src="/assets/img/Twitter_Social_Icon_Circle_Color.png" alt="Twitter"/></a>
        <a href="https://www.facebook.com/HackForWesternMass/"><img src="/assets/img/f-ogo_RGB_HEX-58.png" alt="Facebook"></a>
        <a href="https://h4wmslack.herokuapp.com/"><img src="/assets/img/Slack_Mark_Web.png" alt="Slack"/></a>
    </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
